---
import Layout from "../../layouts/Layout.astro";
// It's not changing language on this page
---

<Layout title="Environmental Policy">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>Environmental Policy</h1>
      In the production activities of heat control devices, time limit relays, digital
      potentiometers and turnover speedometer devices as its work area, Sisel has
      accepted to give priority for the environment being affected at the minimum
      rate and the pollution being kept at minimally as the principle of the company.
      Within the framework of the opportunities supplied by the manufacturing and
      R&D budgets, to use the most ergonomic material and technology, and by supplying
      continuous improvement for environmental control and pollution prevention in
      every new project, and leaving an environment which will supply a better life
      quality to the next generations, it is an important part of the quality policies
      of our company related to the environment. Within the framework of this policy,
      Sisel has determined its general company targets in the environmental area.
      <h2>1. Compatibility with laws and regulations</h2>
      Sisel; examines the environmental regulations concerning legal and other conditions
      in its projects committed.
      <h2>2. To produce natural resources</h2>
      Sisel; provides the optimum usage and prevention of natural and other resources
      in its methods and activities being applied in its all commitment works.
      <h2>3. To keep wastes and emission under control</h2>
      By keeping under control of the solid and dangerous wastes to occur and the
      emission to arise, Sisel maintains their environmentally effects at the minimum
      for its conducting projects and for the settlements under its responsibility.
      <h2>4. Consciousness-raising and participation</h2>
      As well as consciousness-raising of its own employees and charged sub-contractors
      about environment, Sisel develops the protection of environment and their participations
      for environment in coordination with the employer, supplier and other stakeholders.
      <h2>5. Prevention of environmental pollution</h2>
      Sisel; reduces the pollution risks and prevents the spreading of the probable
      pollution which can affect the environment in a negative manner with systems
      and methods to be applied by itself. Dimensionally, for the performance of
      our environmental policies in whole and complete form, our company’s participation
      does not only necessitate its employees, but also all suppliers and collaborators.
      Resting upon these bases, Sisel is responsible to correspond to environmental
      regulations in its all projects and activities totally and systematically,
      and to take required measures for this.
    </div>
  </div>
</Layout>
