---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Entegre Yönetim Sistemi Politikası">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>Integrated Management System Policy</h1>
      At ENDA, our aim is to ensure the continuity of the company’s existence, protect
      human health and values, achieve customer satisfaction, minimize risks, contribute
      to sustainable development, and leave a clean environment for future generations.
      In line with these objectives, our principles are:
      <ul>
        <h4>
          <li>To enhance company performance and production efficiency,</li>
        </h4>
        <h4>
          <li>To provide high-quality products and services,</li>
        </h4>
        <h4>
          <li>
            To effectively address customer expectations, complaints,
            suggestions, and satisfaction, and to ensure customer satisfaction,
          </li>
        </h4>
        <h4>
          <li>
            To promote, raise awareness, fulfill all requirements, and
            continuously improve the integrated management system for all
            stakeholders, especially our employees,
          </li>
        </h4>
        <h4>
          <li>
            To work in compliance with Legal Regulations and other obligations,
          </li>
        </h4>
        <h4>
          <li>
            To maintain energy efficiency at the highest level and minimize the
            use of natural resources,
          </li>
        </h4>
        <h4>
          <li>
            To protect the environment, respect humanity and the environment,
            prevent pollution, reduce waste, and increase recycling rates,
          </li>
        </h4>
        <h4>
          <li>
            To manage Risks and Opportunities effectively and efficiently. We
            commit to these principles!
          </li>
        </h4>
      </ul>
      <br />
      <h1>Integrated Management System Documents</h1>
      <ul>
        <h4>
          <li>
            ISO 9001 Quality Management System: <a
              href="/sisel_mühendislik_9001.pdf">sisel_mühendislik_9001.pdf</a
            >
          </li>
        </h4>
        <h4>
          <li>
            ISO 14001 Environmental Management System: <a
              href="/sisel_mühendislik_14001.pdf"
              >sisel_mühendislik_14001.pdf</a>
          </li>
        </h4>
      </ul>
    </div>
  </div>
</Layout>
