---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Clarification Text on Personal Data Processing">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>CLARIFICATION TEXT ON PERSONAL DATA PROCESSING</h1>
      <h2>1. DATA SUPERVISOR</h2>
      <p>
        Data Supervisor : Sisel Mühendislik Elektronik Sanayi ve Ticaret Anonim
        Şirketi
      </p>
      <p>Address : Şerifali Mah. Barbaros Cad. No:18/1 Ümraniye/İstanbul</p>
      <p>Phone Number : 0216 499 46 64</p>
      <p>Mail : ik@enda.com.tr</p>
      <h2>2. PURPOSE OF PROCESSING PERSONAL DATA</h2>
      <ul>
        <li>
          To establish and develop a healthy commercial relationship, to keep
          records of customers and suppliers and to carry out processes,
        </li>

        <li>
          To submit requests, to use products and services at a satisfactory
          level,
        </li>

        <li>To establish a commerce service contract,</li>
        <li>To submit and receive offers,</li>

        <li>To place orders,</li>
        <li>To execute the contract and to deliver the products,</li>

        <li>To receive products, bills and invoices</li>
        <li>To complete necessary financial processes,</li>
        <li>To make payments,</li>
        <li>To receive and deliver requests and complaints,</li>
        <li>
          To carry out service, product, warranty and maintenance processes,
        </li>

        <li>
          To learn and explain the product promotion, usage method and purposes,
        </li>

        <li>
          To know the fields of education and expertise, to see the level of
          professional experience and knowledge, to determine the salary and to
          finalize the recruitment of the applicants,
        </li>

        <li>To conduct research and development studies,</li>
        <li>To maintain security,</li>

        <li>To execute financial and legal processes,</li>
        <li>
          To execute educational processes, Are the reasons for our company to
          process personal data.
        </li>
      </ul>
      <h2>3. TRANSFER OF PERSONAL DATA</h2>
      Your personal data is transferred to the following bodies, in order to achieve
      the above-mentioned purposes, as it is required by the legislation and in order
      to fulfil the legal obligation;
      <ul>
        <li>
          Administrative and official authorities and judicial bodies, to which
          the data needs to be transferred,
        </li>
        <li>
          Company lawyer, to be delivered to the competent authorities or to be
          used in legal processes (mediation, arbitration, litigation,
          complaint) that have started and/ or will start between our company
          and you,
        </li>

        <li>
          Company's financial advisor, for the necessary financial process to be
          completed ,
        </li>
        <li>
          Cargo and shipping companies, in order to deliver products and
          documents,
        </li>
        <li>Banks, to make payments and collections.</li>
      </ul>
      <h2>4. METHOD OF PERSONAL DATA COLLECTION</h2>
      Below are the methods that your personal data is collected.
      <ul>
        <li>
          Verbal, written or visual records, in the event you visit our company
        </li>
        <li>Personal meeting outside the company</li>
        <li>Making a contract,</li>
        <li>Email, phone call, SMS application</li>
      </ul>
      <h2>5. LEGAL RESON FOR THE COLLECTION OF PERSONAL DATA</h2>
      <ul>
        <li>Your explicit consent</li>
        <li>Clear stipulation in the laws,</li>
        <li>Establishment or performance of a contract,</li>
        <li>Fulfilment of legal obligations,</li>
        <li>
          Necessity of data processing for the establishment, use or protection
          of a right,
        </li>
        <li>
          Provided that it does not harm the fundamental rights and freedoms of
          the person concerned, the necessity for the legitimate interests of
          the data supervisor.
        </li>
      </ul>
      <h2>6. YOUR RIGHTS ACCORDING TO THE 11TH ARTICLE OF KVK</h2>
      By either personally visiting us at our address Şerifali Mah. Barbaros Cad.
      No:18/1 Ümraniye/İstanbul, to ensure your ID control, Or by sending a mail
      to ik@enda.com.tr via your e-mail that is recorded in our system, with your
      secure electronic or mobile signature, Or by applying to other methods (such
      as a notary written warning) that require the verification of your ID, You
      reserve the right to;
      <p>a) Learn whether your personal data has been processed,</p>

      <p>b) Request information if your personal data has been processed,</p>

      <p>
        c) Learn the purpose of processing personal data and whether it is used
        relevantly for that purpose,
      </p>

      <p>
        d) Find out about the third parties, to whom personal data are
        transferred domestically or abroad,
      </p>

      <p>
        e) Request correction of personal data, in case of incomplete or
        incorrect processing,
      </p>

      <p>
        f) Request deletion or destruction of your personal data, in case the
        reasons requiring the processing of personal data cease to exist,
      </p>

      <p>
        g) Demand that the actions taken in accordance with aforementioned
        subparagraphs (d) and (e), are notified to the third parties, to whom
        your personal data are transferred,
      </p>

      <p>
        h) Object to a disadvantageous result on your behalf that might arise
        due to the analysis of the processed data, exclusively through automated
        systems,
      </p>

      <p>
        i) Demand to be reimbursed, if you suffer damage due to unlawful
        processing of your personal data.
      </p>
    </div>
  </div></Layout
>
