---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Terms of Use">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>Terms of Use</h1>
      <p>
        The websites and all the linked pages (“site”) are the property of and
        operated by <strong
          >SİSEL Mühendislik Elektronik San. ve Tic. A.Ş.</strong
        > (<strong>Sisel</strong>) located at Yukarı Dudullu Şerifali Mh.
        Barbaros Cd. No:18 Ümraniye/ISTANBUL.
      </p>

      <p>
        All the contents and information published by Sisel at this site are
        protected with the following terms of use. All the user surfing or
        utilizing the site shall be considered to have accepted those terms of
        use.
      </p>

      <p>
        The relationships of the site members with each other or with third
        parties are their own responsibility.
      </p>

      <h2>1. Responsibility for the Site Contents</h2>
      The site is published to enable the users to gain information about the Sisel
      products administration services. The site contents are constantly checked
      and updated. Sisel may make changes to the site contents at any time without
      any announcements or warnings. Continuing to use the site means that the said
      changes have been accepted. Sisel does not assume any responsibilities for
      the changes made to the site.

      <h2>2. Responsibility for the Provided Links</h2>
      Sisel may include, from time to time, links to other sites, which it considers
      useful and related to the site contents, in its site. Sisel is not responsible
      for the content, the risks, and the personal and/or general data they collect
      of the sites it provides a link for (and for the contents and risks of the
      sites such sites provide links for). The provided links do not mean that Sisel
      approves of these sites.

      <h2>3. Responsibility of the Users</h2>
      <p>
        All the risks and responsibility arising from the use of the site
        belongs exclusively to the user.
      </p>
      <p>
        Although Sisel tries to protect all its systems and software including
        its content against computer viruses and similar malicious software and
        programs, Sistel is not responsible for the computer viruses and similar
        malicious software and for the damages to the computer and the system
        that might occur as a result of visiting this site or downloading
        material from this site.
      </p>
      <p>
        The users cannot made additions or changes to the site content. The
        users accept and undertake not to hack the site, not to access the site
        via methods like virus, Trojan, etc., not to engage in illegal actions
        that break down the systems, not to produce and share, in their
        activities in the site or at any section of the site or in any of their
        communications, contents which are contrary to general moral and
        traditions and law; are damaging to 3rd parties' rights; are misleading;
        encourage violence; are aggressive, racist, provocative, obscene,
        pornographic; damage personal rights; are contrary to copyrights; and
        encourage illegal activities. In the case that one of the abovementioned
        incidents occur or that access to the site is prevented via unlawful
        methods, Sisel reserves the right to remove the content in question, to
        prevent access to the site temporarily, to take legal actions, and to
        claim compensation from the perpetrators of such actions.
      </p>
      <p>
        Sisel assumes no responsibility for the damages that other site users or
        3rd parties may suffer as a result of the abovementioned actions
        whatsoever.
      </p>

      <h2>4. About the Site Content</h2>
      <p>
        The site content is not intended to meet the requirements of any one
        person, enterprise, and a third party.
      </p>
      <p>
        The information, photographs, designs, etc. contained in the site
        content are information of general nature and do not constitute a
        commitment.
      </p>
      <p>
        The site content does not constitute a contract between Sisel and the
        site users.
      </p>
      <p>
        No warrantees are made regarding the prices, performances, and
        specifications of the products or services.
      </p>
      <p>
        The site content is not necessarily complete or accurate and is not a
        opinion or a recommendation. All the responsibility to arise from the
        works and actions that the user shall engage in using the information
        from the site belongs to the user and Sisel assumes no responsibility
        therefrom.
      </p>

      <h2>5. Intellectual Property Rights</h2>
      <p>The owner of all the site contents is Sisel.</p>
      <p>
        All the registered or non-registered intellectual property rights
        included in the site such as titles, enterprise names, brands, patents,
        logos, designs, information, and methods (including copyrights and
        neighboring rights) belong to and shall continue to belong to Sisel. The
        site content cannot be used outside the limits specified in terms of
        use.
      </p>
      <p>
        Users may download or copy the site content to their computers for
        personal use. This permission is valid for all situations where all the
        references, copyrights, or ownership information related to the
        downloaded or copied content are preserved. Users have to incorporate
        such information to any copies they obtained from the site content.
      </p>
      <p>
        The site content (database, pictures, texts, icons, audiovisual and
        similar images, video clips, files, designs, catalogues, lists, etc.)
        cannot be distributed, marketed, reprinted or used for any commercial
        purposes by the users. In cases where the users perform any of the
        abovementioned acts, Sisel reserves to take legal action against third
        parties and enterprises.
      </p>
      <p>
        Nothing contained in the site content does not grant the user to use
        Sisel's intellectual property rights.
      </p>

      <h2>6. Invalidity of any of the terms of use</h2>
      In the case that it is determined one or more of the provisions of the terms
      of use is invalid or unenforceable, the remaining provisions shall continue
      to be valid. The provision determined to be invalid or unenforceable shall
      be changed with a valid, enforceable provision that is the closest to the purpose
      of the original provision.

      <h2>7. Non-waiver</h2>
      The failure by Sisel to enforce any part of these terms of use does not mean
      that Sisel has renounced (waivered) from its right to enforce these terms of
      use. Only the explicit and written disclaimers that are signed by an authorized
      representative of Sisel are legally valid.
    </div>
  </div></Layout
>
