---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Entegre Yönetim Sistemi Politikası">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>Entegre Yönetim Sistemi Politikası</h1>
      ENDA olarak amacımız, şirket varlığının sürdürülmesi, insan sağlığının ve değerlerin
      korunması, müşteri memnuniyetinin sağlanması, risklerin minimize edilmesi,
      sürdürülebilir kalkınmaya katkıda bulunması ve gelecek nesillere temiz bir
      çevre bırakmasıdır. Bu amaçlar doğrultusunda ilkelerimiz;
      <ul>
        <h4>
          <li>Şirket performansı ve üretim verimliliğini arttırmayı,</li>
        </h4>
        <h4>
          <li>Kaliteli ürün ve hizmet sunmayı,</li>
        </h4>
        <h4>
          <li>
            Müşteri beklentilerini, şikayetlerini, öneri ve memnuniyetlerini
            etkin olarak ele almayı ve müşteri memnuniyetini sağlamayı,
          </li>
        </h4>
        <h4>
          <li>
            Entegre yönetim sistemini, başta çalışanlarımız olmak üzere tüm
            paydaşlara yaygınlaştırmayı, bilinçlendirmeyi, tüm gerekliliklerini
            yerine getirmeyi ve sürekli iyileştirmeyi,
          </li>
        </h4>
        <h4>
          <li>Yasal Mevzuat ve diğer yükümlülüklere uygun çalışmayı,</li>
        </h4>
        <h4>
          <li>
            Enerji verimliliğini en üst seviyede tutmayı ve doğal kaynak
            kullanımını minimize etmeyi,
          </li>
        </h4>
        <h4>
          <li>
            Çevreyi koruyarak insana ve çevreye saygılı olmayı, kirliliği
            önlemeyi, atıkları azaltmayı ve geri dönüşüm oranını arttırmayı,
          </li>
        </h4>
        <h4>
          <li>
            Risk ve Fırsatları etkin ve verimli bir şekilde yönetmeyi, Taahhüt
            ederiz!
          </li>
        </h4>
      </ul>
      <br />
      <h1>Entegre Yönetim Sistemi Belgeleri</h1>
      <ul>
        <h4>
          <li>
            ISO 9001 Kalite Yönetim Sistemi: <a
              href="sisel_mühendislik_9001.pdf">sisel_mühendislik_9001.pdf</a
            >
          </li>
        </h4>
        <h4>
          <li>
            ISO 14001 Çevre Yönetim Sistemi: <a
              href="sisel_mühendislik_14001.pdf">sisel_mühendislik_14001.pdf</a
            >
          </li>
        </h4>
      </ul>
    </div>
  </div>
</Layout>
