---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kişisel Veri Aydınlatma Metni">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>KİŞİSEL VERİ AYDINLATMA METNİ</h1>

      <h2>1. VERİ SORUMLUSU</h2>
      <p>
        Veri Sorumlusu : Sisel Mühendislik Elektronik Sanayi ve Ticaret Anonim
      </p>
      <p>
        Şirketi Adres :Şerifali Mah. Barbaros Cad. No:18/1 Ümraniye/İstanbul
      </p>
      <p>Telefon No : 0216 499 46 64</p>
      <p>Mail : ik@enda.com.tr</p>

      <h2>2. KİŞİSEL VERİLERİN İŞLENME AMACI</h2>
      <ul>
        <li>
          Sağlıklı ticari ilişkinin kurulabilmesi, geliştirilebilmesi müşteri,
          tedarikçilerin kayıtlarının tutulması ve süreçlerin yürütülmesi
          Taleplerin iletilmesi, ürün ve hizmetlerden yeteri kadar
          yararlanılabilmesi,
        </li>

        <li>
          Alım-satım hizmet sözleşmesinin kurulması, Tekliflerin sunulması ve
          alınması,
        </li>

        <li>Siparişlerin verilmesi,</li>
        <li>Sözleşmenin ifası ve ürün tesliminin gerçekleştirilmesi,</li>
        <li>Ürün, irsaliye, faturanın alınması</li>
        <li>Gerekli mali süreçlerin tamamlanması,</li>
        <li>Ödemelerin yapılabilmesi,</li>
        <li>Talep ve şikayetlerin alınması ve iletilmesi,</li>
        <li>Hizmet ve ürün, garanti, bakım onarım süreçlerinin yürütülmesi,</li>
        <li>
          Ürün tanıtım ve kullanma yöntem ve amaçlarının öğrenilmesi ve
          açıklanması,
        </li>
        <li>
          Şirketimizde çalışmak isteyen adayların, eğitim ve uzmanlık
          alanlarının bilinmesi, mesleki tecrübe ve bilgi düzeylerinin
          görülmesi, ücret tespitinin yapılabilmesi ve işe alınmasının
          gerçekleştirilmesi
        </li>

        <li>ARGE çalışmalarının yürütülmesi,</li>
        <li>Güvenliğin sağlanması</li>
        <li>Mali ve hukuki süreçlerin yürütülmesi</li>
        <li>
          Eğitim süreçlerinin yürütülmesi amaçlarıyla şirketimiz tarafından
          kişisel veri işlenmektedir.
        </li>
      </ul>

      <h2>3. KİŞİSEL VERİLERİN AKTARILMASI</h2>

      Kişisel verileriniz, yukarıda sayılan amaçların gerçekleştirilebilmesi,
      mevzuatın gerektirmesi ve hukuki yükümlülüğün yerine getirilmesi için,
      <ul>
        <li>
          Aktarılması gereken idari ve resmi makamlar ile yargı organlarına,
        </li>
        <li>
          Yetkili makamlara ulaştırılmak üzere veya şirketimizle tarafınız
          arasında başlamış ve/veya başlayacak hukuki süreçlerde (arabuluculuk,
          tahkim, dava, şikayet ) kullanılmak üzere şirket avukatına,
        </li>

        <li>
          Gerekli mali işlemenin yapılabilmesi için şirket mali müşavirine,
        </li>
        <li>
          Ürün ve belge tesliminin gerçekleştirilmesi amacıyla kargo ve nakliye
          şirketlerine,
        </li>

        <li>Ödeme ve tahsilatların gerçekleştirilmesi için bankalara,</li>
      </ul>
      <h2>4. KİŞİSEL VERİLERİN TOPLANMA YÖNTEMİ</h2>
      Kişisel verileriniz aşağıdaki yöntemlerle toplanmaktadır.

      <ul>
        <li>
          Şirketimize gelmeniz halinde sözlü, yazılı veya kamera kaydı yapılarak
        </li>
        <li>Şirket dışı şahsi görüşme</li>
        <li>Sözleşme yapılması,</li>
        <li>
          E-posta, telefon görüşmesi, SMS uygulaması Yöntemleriyle
          işlenmektedir.
        </li>
      </ul>
      <h2>5. KİŞİSEL VERİLERİN TOPLANMASININ HUKUKİ SEBEBİ</h2>
      <ul>
        <li>Açık rızanız</li>
        <li>Kanunlarda açıkça öngörülmesi,</li>
        <li>Bir sözleşmenin kurulması veya ifası,</li>
        <li>Hukuki yükümlülüğün yerine getirilmesi,</li>
        <li>
          Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin
          zorunlu olması,
        </li>

        <li>
          İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla,
          veri sorumlusunun meşru menfaatleri için zorunlu olması hukuki
          sebepleri ile işlenmektedir.
        </li>
      </ul>
      <h2>6. KVK 11. MADDESİNE GÖRE HAKLARINIZ</h2>
      <p>Şirketimize;</p>
      <p>
        Şerifali Mah. Barbaros Cad. No:18/1 Ümraniye/İstanbul adresine bizzat
        gelip kimlik kontrolünüzün teminini sağlayarak,
      </p>

      <p>
        Sistemimizde kayıtlı e-posta , güvenli elektronik veya mobil imzanız ile
        şirketimizin ik@enda.com.tr e posta adresine mail göndererek,
      </p>

      <p>
        Kimlik teyidiniz yapıldığı (noter ihtarnamesi gibi) diğer usullerle
        başvurarak ,
      </p>

      <p>a) Kişisel verilerinizin işlenip işlenmediğini öğrenme,</p>
      <p>b) Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</p>
      <p>
        c) Kişisel verilerin işlenme amacını ve bunların amacına uygun
        kullanılıp kullanılmadığını öğrenme,
      </p>

      <p>
        ç) Yurt İçinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü
        kişileri bilme,
      </p>
      <p>
        d) Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların
        düzeltilmesini isteme,
      </p>

      <p>
        e) Kişisel verilerin işlenmesini gerektiren sebeplerin ortadan kalkması
        halinde kişisel verilerinizin silinmesini veya yok edilmesini isteme,
      </p>

      <p>
        f) Yukarıda (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel
        verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme
      </p>

      <p>
        g) İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz
        edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme
      </p>

      <p>
        ğ) Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara
        uğramanız halinde giderilmesini talep etmek haklarına sahipsiniz
      </p>
    </div>
  </div></Layout
>
