---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kullanım Şartları">
  <div class="content">
    <!-- BreadCrumbs -->
    <div class="box text-left">
      <h1>Kullanım Şartları</h1>
      <p>
        Sitemizdeki web sayfaları ve ona bağlı tüm sayfalar (‘site’) Yukarı
        Dudullu Şerifali Mh. Barbaros Cd. No:18 Ümraniye/İSTANBUL adresindeki <strong
          >SİSEL Mühendislik Elektronik San. ve Tic. A.Ş.</strong
        > firmasının (<strong>Sisel</strong>) malıdır ve onun tarafından
        işletilir.
      </p>

      <p>
        Bu sitede Sisel tarafından yayınlanan bütün içerik ve bilgiler aşağıdaki
        kullanım şartları tarafından korunmaktadır. Siteyi gezen ya da siteden
        faydalanan bütün kullanıcılar bu kullanım şartlarını kabul etmiş
        sayılacaktır.
      </p>

      <p>
        Sitenin üyelerinin birbirleri veya üçüncü şahıslarla olan ilişkileri
        kendi sorumluluğundadır.
      </p>

      <h2>1. Site İçeriğinden Sorumluluk</h2>
      Site, kullanıcıların Sisel ürün ve hizmetleriyle ilgili bilgi almasını sağlamak
      için yayınlanmıştır. Site içeriği sürekli kontrol edilmekte ve güncellenmektedir.
      Sisel site içeriğinde herhangi bir ilan ya da ihbarda bulunmaksızın istediği
      her zaman değişiklik gerçekleştirebilir. Sitenin kullanılmaya devam edilmesi,
      söz konusu değişikliklerin kabul edildiği manasına gelir. Sisel’e yapılan değişiklikler
      nedeniyle bir sorumluluk yüklenemez.

      <h2>2. Verilen Linklerden Sorumluk</h2>
      Sisel zaman zaman kendi sitesinden, site içeriği ile ilgili olduğunu ve faydalı
      olduğunu düşündüğü diğer sitelere link verebilir. Sisel vermiş olduğu bu linklerin
      içeriğinden ve taşıdığı risklerden ve topladığı kişisel ve/veya genel verilerden
      (ve o sitelerin link verdiği diğer sitelerin içeriğinden ve taşıdığı risklerden)
      sorumlu değildir. Verilen linkler, Sisel’in bu siteleri onayladığı anlamına
      gelmez.

      <h2>3. Kullanıcıların Sorumluluğu</h2>
      <p>
        Sitenin kullanımından kaynaklanan tüm risk ve sorumluluk münhasıran
        kullanıcıya aittir.
      </p>
      <p>
        Sisel, site içeriği dâhil tüm sistem ve yazılımlarını bilgisayar
        virüslerine ve benzeri nitelikteki kötü niyetli yazılım ve programlara
        karşı korumaya çalışsa da, kişi ve kurumların bu siteyi gezerken veya
        siteden bir materyal indirmesi sonucu oluşacak virüs ve sair kötü
        niyetli yazılımlar ile bilgisayar ve sistem zararlarından sorumlu
        değildir.
      </p>
      <p>
        Kullanıcılar site içeriğine ekleme veya içerikte bir değişiklik yapamaz.
         Kullanıcılar siteyi hacklememeyi, virüs, truva atı vb. metotlarla
        siteye gizlice girmemeyi sistemleri bozan gayrı kanuni eylemlerde
        bulunmamayı, site içindeki faaliyetlerinde, sitenin herhangi bir
        bölümünde veya iletişimlerinde genel ahlaka ve adaba, kanuna aykırı, 3.
        Kişilerin haklarını zedeleyen, yanıltıcı, şiddeti teşvik eden,
        saldırgan, ırkçı, kışkırtıcı müstehcen, pornografik, kişilik haklarını
        zedeleyen, telif haklarına aykırı, yasa dışı faaliyetleri teşvik eden
        içerikler üretmemeyi ve paylaşmamayı kabul ve taahhüt eder. Sayılan
        hallerden birinin gerçekleştirilmesi veya siteye erişimin hukuk dışı
        metotlarla engellenmesi durumunda Sisel’in söz konusu içeriği kaldırma,
        siteye erişimi geçici olarak durdurma, kanuni yollara başvurma ve bu
        gibi eylemlerin faillerine tazminat talebi yöneltme hakları saklıdır.
      </p>
      <p>
        Yukarıda sayılan eylemler neticesinde, herhangi bir şekilde diğer site
        kullanıcılarının ya da 3. kişi ve kuruluşların uğrayacağı zararlardan
        Sisel’in sorumluluğu bulunmamaktadır.
      </p>

      <h2>4. Sitenin İçeriği Hakkında</h2>
      <p>
        Site içeriği özel bir kişinin, kurumun ve üçüncü kişinin ihtiyaçlarını
        karşılamaya yönelik hazırlanmamıştır.
      </p>
      <p>
        Site içeriğinde yer alan bilgi, fotoğraf, tasarım v.s. içerik genel
        nitelikli bilgiler olup taahhüt niteliği taşımaz.
      </p>
      <p>
        Site içeriği Sisel ile site kullanıcıları arasında sözleşme niteliği
        taşımaz.
      </p>
      <p>
        Ürünlerin veya hizmetlerin fiyatları, performansı ve özellikleriyle
        ilgili garanti vermez.Site içeriği , tamamlanmış veya kesin olmak
        zorunda değildir görüş veya herhangi bir tavsiye niteliği taşımaz.
        Kullanıcının siteden aldığı bilgilerle yapacağı iş ve eylemelerden
        doğacak her türlü sorumluluk kullanıcıya ait olup Sisel’e sorumluluk
        yüklenemez.
      </p>

      <h2>5. Fikri Mülkiyet Hakları</h2>
      <p>Sitedeki bütün içeriğin sahibi Sisel’dir.</p>
      <p>
        Site’de yer alan ünvan, işletme adı, marka, patent, logo, tasarım, bilgi
        ve yöntem gibi tescilli veya tescilsiz tüm fikri mülkiyet hakları (telif
        hakları ve komşu haklar dahil) Sisel’e aittir ve ait olmaya devam
        edecektir. Site içeriği kullanım şartlarında belirtilen sınırlar dışında
        kullanılamaz.
      </p>
      <p>
        Kullanıcılar kişisel kullanım için site içeriğini bilgisayarlarına
        indirebilir veya kopyalayabilir. Bu izin, indirilen veya kopyalanan
        içerikle alakalı her tür kaynakça, telif veya sahiplik bilgisinin
        korunduğu durumlarda geçerlidir. Kullanıcılar site içeriğinden aldıkları
        her kopyaya bu bilgiyi dâhil etmek zorundadır.
      </p>
      <p>
        Site içeriği, (veritabanı, resimler, metinler, ikonlar, görsel ve
        işitsel vesair imgeler, video klipler, dosyalar, tasarımlar, kataloglar
        ve listeler v.s.) kullanıcılar tarafından dağıtılamaz, pazarlanamaz,
        tekrar basılamaz ya da herhangi bir ticari amaçla kullanılamaz.
        Kullanıcıların yukarıda sayılanlardan herhangi birini yaptığı
        durumlarda, Sisel ve üçüncü kişi ve kurumlara karşı hukuksal yollara
        başvurma haklarını saklı tutar.
      </p>
      <p>
        Site içeriğinde bulunan hiçbir şey Sisel’e ait fikri mülkiyet haklarını
        kullanma izni vermez.
      </p>

      <h2>6. Kullanım koşullarının birinin geçersizliği</h2>
      Bu kullanım şartlarının hükümlerinden herhangi birinin veya bir kaçının geçersiz
      ya da uygulanamaz olduğuna karar verilmesi halinde, kalan hükümler yürürlükte
      kalmaya devam edecektir. Geçersiz veya uygulanamaz bulunan hüküm, asıl hükmün
      amacına en yakın, geçerli, uygulanabilir bir hükümle değiştirilecektir.

      <h2>7. Vazgeçmiş sayılmama</h2>
      Sisel tarafından bu kullanım şartlarının herhangi bir bölümünün uygulanmaması,
      Sisel'in bu kullanım koşullarını uygulama hakkından vazgeçtiği ( feragat ettiği)
      anlamına gelmez. Sadece Sisel’in yetkili bir temsilcisi tarafından imzalanmış,
      açık ve yazılı bir feragatname yasal olarak geçerlidir.
    </div>
  </div>
</Layout>
