.content.faq p {
  padding: 13px;
}

.faq-nav a {
  display: block;
  padding: 13px;
  position: relative;
}

.faq-nav a:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.faq-nav a.active {
  display: none;
  cursor: default;
  font-weight: bolder;
  position: relative;
  color: #f72432;
}
/*
.faq-nav a.active:before, .faq-nav a.active:after, .faq-nav a:hover:after, .faq-nav a:hover:before  {
  position: absolute;
}

.faq-nav a.active:before {
  left: 0;
  acontent: '▶'
}

.faq-nav a.active:after  {
  right: 0;
  acontent: '◀';
  content: '▶'
}

*/
.faq-nav a.active:hover {
  cursor: default;
  color: #f72432;
}

.faq-content {
  text-align: left;
  order: 0;
}

.faq-welcome {
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  counter-reset: question-counter;
}

.question {
  font-weight: 800;
  display: block;
  cursor: pointer;
  counter-increment: question-counter;
  padding: 13px;
  color: #f72432;
}

.question:before {
  content: counter(question-counter) ". ";
}

.question:hover {
}

.answer {
  padding: 13px;
}

.content.faq .layout {
  display: flex;
  flex-direction: column;
}

.faq-nav {
  order: 1;
}

h2 {
  font-size: large;
}

.faq-content img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .content.faq .layout {
    flex-direction: row;
  }

  .faq-nav {
    width: 25%;
    order: inherit;
  }

  .faq-content {
    width: 75%;
    min-height: 300px;
    order: inherit;
  }

  .faq-nav a.active {
    display: block;
  }
}
